<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<style>
  .custom-heading {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    text-align: center;
  }
</style>

<head>
  <div  class="custom-heading">Роли</div>
  <input type="button" onclick="location.href='http://localhost:8080/menus/main';" value="Перейти на главную" class="btn btn-success"/>
  <input type="button" onclick="location.href='http://localhost:8080/menus/queryMenu';" value="Запросы" class="btn btn-success"/>
</head>
<body>
<div class="card-body p-4 p-md-5" style="width: 75%; margin-top: 20px; margin-left: auto; margin-right: auto;">
  <form th:action="@{/queries/q10-2}" th:object="${FormForRolesByFields}" method="get">
<!--    <div class="row">-->
<!--      <label class="form-label" for="actorId">Актер (id)</label>-->
<!--      <input th:field="*{actorId}" type="number" id="actorId" class="form-control form-control-lg"/>-->
<!--    </div>-->
    <div class="row">
      <label class="form-label" for="actorId">Актер </label>
      <select th:field="*{actorId}" id="actorId" class="form-control form-control-lg">
        <option value="-1">Любой</option>
        <option th:each="actor : ${actors}" th:value="${actor.employeeId}" th:text="${actor.firstName} + ' ' + ${actor.lastName}"></option>
      </select>
    </div>
<!--    <div class="row">-->
<!--      <label class="form-label" for="directorId">Режиссер (id)</label>-->
<!--      <input th:field="*{directorId}" type="number" id="directorId" class="form-control form-control-lg"/>-->
<!--    </div>-->
      <div class="row">
          <label class="form-label" for="directorId">Режиссер </label>
          <select th:field="*{directorId}" id="directorId" class="form-control form-control-lg">
              <option value="-1">Любая</option>
              <option th:each="director : ${directors}" th:value="${director.employeeId}" th:text="${director.firstName} + ' ' + ${director.lastName}"></option>
          </select>
      </div>
      <div class="row">
          <label class="form-label" for="ageCategoryId">Возрастная категория </label>
          <select th:field="*{ageCategoryId}" id="ageCategoryId" class="form-control form-control-lg">
              <option value="-1">Любая</option>
              <option th:each="category : ${ageCategories}" th:value="${category.ageCategoryId}" th:text="${category.ageCategory}"></option>
          </select>
      </div>
    <div class="row">
      <label class="form-label" for="genreId">Жанр </label>
      <select th:field="*{genreId}" id="genreId" class="form-control form-control-lg">
        <option value="-1">Любой</option>
        <option th:each="genre : ${genres}" th:value="${genre.genreId}" th:text="${genre.genre}"></option>
      </select>
    </div>
    <div class="row">
      <label class="form-label" for="fromDate">Показанные в промежутке от</label>
      <input th:field="*{fromDate}" type="text" id="fromDate" class="form-control form-control-lg"/>
    </div>
    <div class="row">
      <label class="form-label" for="toDate">До</label>
      <input th:field="*{toDate}" type="text" id="toDate" class="form-control form-control-lg"/>
    </div>
    <input type="submit" value="Поиск" class="btn  btn-outline-success"/>
  </form>
</div>
</body>
</html>