<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"/>
</head>

<head>
    <title>Employees</title>
    <div style="text-align: center;">Работники</div>
    <input type="button" onclick="location.href='http://localhost:8080/menus/main';" value="Перейти на главную"/>
</head>

<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>id</th>
        <th>Роль</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="role:${rolesList}">
        <td th:text="${role.roleId}"></td>
        <td th:text="${role.roleName}"></td>
    </tr>
    </tbody>
</table>

</html>