<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"/>
</head>

<style>
  .custom-heading {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    text-align: center;
    color: darkgreen;
  }
</style>

<head>
  <title>Employees</title>
  <div class="custom-heading">Постановщики</div>
  <input type="button" onclick="location.href='http://localhost:8080/menus/main';" value="Перейти на главную" class="btn btn-success"/>
  <input type="button" onclick="location.href='http://localhost:8080/people/addEmployees';" value="Создать сотрудника" class="btn btn-success"/>
  <input type="button" onclick="location.href='http://localhost:8080/people/allEmployees';" value="Все работники" class="btn btn-success"/>
  <input type="button" onclick="location.href='http://localhost:8080/people/getActors';" value="Актеры" class="btn btn-success"/>
  <input type="button" onclick="location.href='http://localhost:8080/people/getMusicians';" value="Музыканты" class="btn btn-success"/>
  <input type="button" onclick="location.href='http://localhost:8080/people/getGeneralWorkers';" value="Служащие" class="btn btn-success"/>
</head>

<style>
  .custom-table {
    margin-top: 60px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
</style>

<table class="table table-bordered table-striped custom-table">
  <thead>
  <tr>
    <th>Имя</th>
    <th>Фамилия</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="employees:${employeesList}">

    <td th:text="${employees.firstName}"></td>
    <td th:text="${employees.lastName}"></td>
    <td>
      <a th:href="@{/people/{employeeId}(employeeId=${employees.employeeId})}" class="btn  btn-outline-success">Информация</a>
    </td>
    <td>
      <form th:action="@{/people/updateEmployee/{employeeId} (employeeId=${employees.employeeId})}" method="get">
        <input type="submit" class="btn btn-outline-warning" value="Изменить"/>
      </form>
    </td>
    <td>
      <form th:action="@{/people/deleteEmployee/{employeeId} (employeeId=${employees.employeeId})}" method="post">
        <input type="submit" class="btn btn-outline-danger" value="Удалить"/>
      </form>
    </td>
  </tr>
  </tbody>
</table>

</html>